
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a><i class="fab fa-awards"></i></a>
        <a class="navbar-brand" href="{% url 'welcome' %}">Awwards</a>
      </div>
      
      <div class="col-sm-4 col-md-4 navbar-center">
      
        <a href="{%url 'ProjectForm' %}">Upload Project</a>
        <a href="{% url 'EditProfile' %}">Upload Profile</a>
        <a href="{% url 'view_profile' %}">View Profile</a>
        <!-- Adding a search form  -->
      <div class="col-sm-4 col-md-4 navbar-right">

          <form class="navbar-form" role="search" action="{% url 'search_title' %}">
  
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="article">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
  
          </form>
        </div>
        <!-- search form end -->
        <a class="nav-link" href="/api/profile">Profile API</a>
        <a class="nav-link" href="/api/projects">project API</a>
             
                  <a class="nav-link" href="/accounts/login/">Login</a>
                
                  <a class="nav-link" href="/accounts/register/">Sign Up</a>
                
         
        </div>
        
        
    </div>
  </nav>
  