
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a><i class="fab fa-awards"></i></a>
        <a class="navbar-brand" href="{% url 'welcome' %}">Awwards</a>
      </div>
      
      <div class="col-sm-4 col-md-4 navbar-center">
      
        <a href="{%url 'ProjectForm' %}">Upload Project</a>
        <a href="{% url 'EditProfile' %}">Upload Profile</a>
        <a href="{% url 'view_profile' %}">View Profile</a>
        <!-- <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">APIs
                      <span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="/api/profile">project API</a>
              </li>
              <li>
                <a href="/api/projects">Profile API</a>
              </li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </li>
        </ul> -->
        <a class="nav-link" href="/api/profile">Profile API</a>
        <a class="nav-link" href="/api/projects">project API</a>
             
                  <a class="nav-link" href="/accounts/login/">Login</a>
                
                  <a class="nav-link" href="/accounts/register/">Sign Up</a>
                
         
        </div>
        
        
    </div>
  </nav>
  