
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <a><i class="fab fa-awards"></i></a>
        <a class="navbar-brand" href="{% url 'welcome' %}">Awwards</a>
      </div>
      
      <div class="col-sm-4 col-md-4 navbar-center">
      
        <a href="{%url 'ProjectForm' %}">Upload Project</a>
        <a href="{% url 'EditProfile' %}">Upload Profile</a>
       
             
                  <a class="nav-link" href="/accounts/login/">Login</a>
                
                  <a class="nav-link" href="/accounts/register/">Sign Up</a>
                
         
        </div>
        
        
    </div>
  </nav>
  