{% extends 'base.html'%}
​
{% block content %}


<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">WELCOME TO Awwards</h1>
          
        </div>
      </div>



<div class="container-fluid">
   
    <div class="row">
            {% for project in projects %}

        <div class="col-md-4 main-page d-flex" style=" margin-top: 5px;">
            <div class="card card-cascade wider flex-fill ">
                <h4 class="card-title">{{project.title}}</h4>
                <!-- Card image -->
                <div class="view view-cascade overlay">
                <img class="card-img-top"
                            src="{{project.landing_page.url}}" alt="Img">
                </div>
                <!--Card content-->
                <div class="card-body">

                    <!--Title-->
                   
                    <!--Text-->
                    
                    <b>Description:<p></b>{{project.description}}</p>
                    <a class="btn btn-outline-dark" href="{{project.link}}">ProjectLink</a>
                    <a class="btn btn-outline-dark" href="{%url 'VoteForm' %}" class="float-right">Review</a>
                </div>
            </div>
        </div>
        


        {% empty %}
        <div class="row">
            <h1 class="text-center"> No Images Yet</h1>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}